server:
  port: 2333
  address: 0.0.0.0

plugins:
#  name:
#    some_key: some_value
#    another_key: some_value

lavalink:
  server:
    password: "innovatingthewaystolisten"
    playerUpdateInterval: 1
    statsTaskInterval: 2
    trackStuckThresholdMs: 10000
    useSeekGhosting: true
    bufferDurationMs: 0
    frameBufferDurationMs: 256
    opusEncodingQuality: 8
    resamplingQuality: HIGH
    youtubePlaylistLoadLimit: 6
    youtubeSearchEnabled: true
    soundcloudSearchEnabled: true
    gc-warnings: true

    filters:
      volume: true
      equalizer: true
      karaoke: true
      timescale: true
      tremolo: true
      vibrato: true
      distortion: true
      rotation: true
      channelMix: true
      lowPass: true

    sources:
      youtube: true
      bandcamp: true
      soundcloud: true
      twitch: true
      vimeo: true
      http: true
      local: false
      getyarn: true
      odysee: true
      reddit: true
      rumble: true
      tiktok: true
      yandex: true

metrics:
  prometheus:
    enabled: false
    endpoint: /metrics

sentry:
  dsn: ""
  environment: ""

logging:
  file:
    path: ./logs/

  level:
    root: INFO
    lavalink: INFO

  request:
    enabled: true
    includeClientInfo: true
    includeHeaders: false
    includeQueryString: true
    includePayload: true
    maxPayloadLength: 10000

  logback:
    rollingpolicy:
      max-file-size: 1GB
      max-history: 30
